{% extends 'base.html' %}

{% block content %}
<h3>Todays top 10 gainers</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>User</th>
            <th>Gain</th>
        </tr>
    </thead>
    <tbody>
        {% for gain in gains %}
        <tr>
            <td>
                <img style="max-width: 20px; border-radius: 50%; border: 1px #898992 solid;"
                    src="https://open.kattis.com/images/countries/{{ gain['User']['CountryShort'] }}/40px?" alt="Flag">
                <a href="/view_stats/{{ gain['User']['UserId'] }}">{{ gain['User']['Name'] }}</a>
            </td>
            <td>+{{ gain['Score']|round(2) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr>

<h3>Users in database</h3>
{% for user in users %}
<p><a href="/view_stats/{{ user['UserId'] }}">{{ user['Name'] }}</a></p>
{% endfor %}

{% endblock %}