<html lang="en">
    <head>
        <title>{{ uid }}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    </head>

    <body>
        <div class="container">
            <h1>Kattis stats for <a href="https://open.kattis.com/users/{{ uid }}">{{ uid }}</a></h1>
            <canvas id="stats" width="500" height="500"></canvas>
        </div>

        <script type="text/javascript">
            var ctx = document.getElementById('stats').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                
                data: {
                    labels: [
                        {% for datum in history %}
                        '{{ datum["Date"] }}',
                        {% endfor %}
                    ],
                    datasets: [
                        {
                            label: 'Rank',
                            yAxisID: 'Rank',
                            data: [
                                {% for datum in history %}
                                {{ datum["Rank"] }},
                                {% endfor %}
                            ],
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        },
                        {
                            label: 'Score',
                            yAxisID: 'Score',
                            data: [
                                {% for datum in history %}
                                {{ datum["Score"] }},
                                {% endfor %}
                            ],
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        },
                    ]
                },
                options: {
                    responsive:true,
                    scales: {
                        yAxes: [
                            {
                                id: 'Rank',
                                position: 'left',
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Rank'
                                }
                            },
                            {
                                id: 'Score',
                                position: 'right',
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Score'
                                }
                            },
                        ]
                    }
                }
            });
        </script>
    </body>
</html>